---
title: overview

layout: default
---
<h1>Overview</h1>

<h2>Collections</h2>
<ul>
{% for col in site.collections %}
  <li>{{col.label}}</li>
{% endfor %}
</ul>

<h2>All Works</h2>
<table>
  <thead>
    <tr>
      <td>title</td>
      <td>media</td>
      <td>copies</td>
      <td>year</td>
      <td>images</td>
    </tr>
  </thead> 
  {% for work in site.works %}
    <tr class="work">
      <td>{{work.title}}</td>
        <td>{{work.media}}</td>
        <td>{{work.copies}}</td>
        <td>{{work.year}}</td>
        <td>
        {% for image in work.images%}
          <img src={{site.baseurl}}{{image.url}} style="width: 100px; height: 100px; object-fit: contain;">
        {%endfor%}
      </td>
    </tr>
  {% endfor %}
</table>

<h2>All Posts</h2>
<table>
  <thead>
    <tr>
      <td>title</td>
      <td>type</td>
      <td>media</td>
    </tr>
  </thead> 
  {% for item in site.posts %}
    <tr class="work"> 
      <td>{{item.title}}</td>
      <td>{{item.type}}</td>
      <td>
        {% if item.type == "video" %}
        {% for snap in item.video.snapshots %}
          <img src={{site.baseurl}}{{snap.url}} style="width: 100px; height: 100px; object-fit: contain;">
        {% endfor %}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>